@import "src/styles/common";

.navItem {
  @include fontNavItem;
  position: relative;
  padding: $spacing-s 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all ease $transition-quick;
  outline: none;
  background: var(--color-background);
  
  &:hover, &:focus {
    color: var(--color-highlight)
  }
  
  &.active {
    background: var(--color-background-accent);
    transform: scale(1.1);
  }
}

.iconContainer {
  height: $spacing-m;
  margin-left: $nav-gutters;
  margin-right: $spacing-m;
}