// Colors
$color-light-1: #ffffff;
$color-light-2: #e1e1e2;
$color-light-3: #a9a9b3;
$color-light-4: #9393a1;
$color-dark-1: #1A181B;
$color-dark-2: #101c2e;
$color-text-light: $color-light-1;
$color-text-dark: $color-dark-1;
$color-primary: #388fff;
$color-success: #238636;
$color-warning: #e3b341;
$color-danger: #bb0907;
$color-header-background-1: #3E8989;
$color-header-background-2: #2CDA9D;

@mixin rootColors {
  --color-foreground: #{$color-text-dark};
  --color-background: #{$color-light-2};
  --color-background-accent: #{$color-light-3};
  --color-shadow: rgba(0,0,0,50%);
  --color-highlight: #{$color-primary};
}

@mixin cardColors {
  --color-background: #{$color-light-1};
}

@mixin navColors {
  --color-foreground: #{$color-text-light};
  --color-background: #{$color-dark-1};
  --color-background-accent: #{$color-dark-2};
}

@mixin primaryColors {
  --color-foreground: #{$color-text-light};
  --color-background: #{$color-primary};
  --color-background-accent: #{lighten($color-primary, 7%)};
}

@mixin dangerColors {
  --color-foreground: #{$color-text-light};
  --color-background: #{$color-danger};
  --color-background-accent: #{lighten($color-danger, 7%)};
}

@mixin headerColors {
  --color-foreground: #{$color-text-light};
  --color-background: #{$color-header-background-1};
  --color-background-accent: #{$color-header-background-2};
}

// Spacing
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 3rem;
$spacing-xl: 4rem;
$spacing-xxl: 8rem;

$label-line-height: 0.75rem;
$button-height: 2.5rem;
$nav-width: 30ch;
$nav-gutters: $spacing-m;

// Animation
$transition-quick: 0.2s;

// Fonts
@mixin fontSectionHeader {
  @include _font(32px, 40px, 400);
  padding-bottom: $spacing-l;
}

@mixin fontLabel {
  @include _font(12px, $label-line-height, 500);
  text-transform: uppercase;
}

@mixin fontInput {
  @include _font(18px, 28px, 300);
}

@mixin fontButton {
  @include _font(18px, $button-height, 400);
  text-transform: uppercase;
}

@mixin fontBody {
  @include _font(16px, 24px, 300);
}

@mixin fontNavItem {
  @include _font(18px, 20px, 400);
  text-decoration: none;
}

@mixin fontTitle {
  @include _font(1.125rem, 2rem, 300);
  text-transform: uppercase;
}

@mixin fontAppName {
  @include _font(1.125rem, 2rem, 300);
  text-decoration: none;
  text-transform: uppercase;
}

@mixin _font($size, $line-height, $font-weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: "Ubuntu", sans-serif;
  color: var(--color-foreground);
}

// Layouts
@mixin page {
  @include rootColors;
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

@mixin shadow {
  box-shadow: $spacing-xxs $spacing-xxs $spacing-s var(--color-shadow) ;
}

@mixin card {
  @include cardColors;
  @include shadow;
  position: relative;
  background: var(--color-background);
  border-radius: 4px;
  padding: $spacing-l;
}
