@import 'src/styles/common';

$grid-spacing: $spacing-m;

.statsContainer {
  display: flex;
  flex-direction: row;
  
  margin-top: -$grid-spacing;
  margin-left: -$grid-spacing;
  
  > * {
    margin-left: $grid-spacing;
    margin-top: $grid-spacing;
  }
}

.card {
  @include card;
  flex-grow: 1;
}

.tableContainer {
  @include card;
  margin-top: $spacing-m;
}
