@import "src/styles/common";

.page {
  @include page;
}

.main {
  position: fixed;
  left: $nav-width;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding-left: $spacing-xl;
  padding-top: $spacing-l;
}

.navContainer {
  @include navColors;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $nav-width;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  overflow: hidden;
}

.title {
  @include fontTitle;
}

.appName {
  @include fontAppName;
  margin: $spacing-l $nav-gutters $spacing-xl;
  padding-bottom: $spacing-s;
  border-bottom: 1px solid;
}
