@import "src/styles/common";

.page {
  @include page;
}

.pageContent {
  position: fixed;
  left: $nav-width;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.main {
  padding: 0 $spacing-l $spacing-xl;
  margin-top: -$spacing-m;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.header {
  @include primaryColors;
  @include gradientBackground;
  height: 8rem;
}

.navContainer {
  @include navColors;
  @include shadow;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $nav-width;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  overflow: hidden;
}

.title {
  @include fontTitle;
  margin-top: $spacing-s;
  margin-left: $spacing-l;
  display: inline-block;

}

.appName {
  @include fontAppName;
  margin: $spacing-s $nav-gutters $spacing-xl;
  padding-bottom: $spacing-s;
  text-align: center;
}
