@import "src/styles/common";

.tableContainer {
    position: relative;
    min-height: 16rem;
}

.table {
    width: 100%;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: $spacing-s;
}
