@import "src/styles/common";

.tableContainer {
    position: relative;
    min-height: 16rem;
}

.table {
    width: 100%;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $spacing-s;
    flex-wrap: wrap;
    
    > * {
        margin-right: $spacing-l;
        
        &:last-child {
            margin-right: 0;
        }
    }
}
