@import "src/styles/common";

.tableHeader {
    @include tableHeaderFont;
    height: $table-header-height;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid transparentize($color-text-dark, 0.7);
    padding-right: $spacing-m;
    color: var(--color-highlight);
}

.sortButton {
    @include focusable;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
}
